.btn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.receita { background: #16a34a; }
.despesa { background: #dc2626; }
.invest { background: #2563eb; }

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  margin-left: 5px;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.edit { background: #f59e0b; }
.delete { background: #ef4444; }

.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.7);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-content {
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  width:300px;
}
